body, html {
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
}


.titlebar {
    background-color: #007bff;
    color: #fff;
    padding: 1rem 0;
}

.titlebar h1 {
    text-align: center;
}

.searchCol {
    padding: 1rem;
}


.form-control {
    margin-bottom: 10px;
}


.list-group {
    max-height: 300px;
    overflow-y: auto;
}


.card {
    margin-top: 10px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


#current-weather {
    text-align: center;
}


#forecastContainer {
    margin-top: 20px;
}

#five-day {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.forecast-item {
    flex-basis: calc(33.33% - 10px); 
    padding: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

